<div id="apidesc">

  <h3 class="apisection">Valid Endpoint : </h3>
  <p class="item"><span class="endpointd">/hype</span>or <span class="endpointd">/hype/top</span> - <span class="rest">GET</span>: </br> </br> Will retrieve the top most popular tracks ranked this week as of today</p>
  <p class="item"><span class="endpointd">/hype/remixes</span> - <span class="rest">GET</span>: </br>  </br> Will retrieve the top remixes only most popular tracks ranked this week as of today</p>
  <p class="item"><span class="endpointd">/hype/noremixes</span> - <span class="rest">GET</span>: </br> </br>Will retrieve the top original un-remixed tracks only most popular tracks ranked this week as of today</p>

  <h3 class="apisection">Parameters:</h3>
  <h4 class="param">type ("popular" | "latest")</h4>
  <p class="item"><span class="parameter">type="popular"</span> <span class="eg">(e.g.: /hype/noremixes?type="popular")</span>:</br> </br>This is the default behavior and will grab the most popular remixes</p>
  <p class="item"><span class="parameter">type="latest"</span> <span class="eg">(e.g.: /hype/noremixes?type="latest")</span> :</br> </br>Will retrieve latest non-remixes sorted by rank</p>

</div>
