<div class="info">
  {{ template _servicesummary.html }}
  {{ template _apidescription.html }}

  <h4 class="description">outputs follow the json scheme:</h4>
  <p id="code" class="code">


    [
      [
        {
        "artist": "grandbrothers",
        "blogname": "the line of best fit",
        "descrip": "stream 'open', the terrific new album from piano and electronics duo grandbrothers",
        "link": "https://www.thelineofbestfit.com/new-music/album-stream/grandbrothers-open",
        "song": "bloodflow",
        "thumbnail": "background-color: rgb(255, 24, 16);"
        },
        {
        "artist": "emmit fenn",
        "blogname": "acid stag",
        "descrip": "each week i like to round up all of the tracks that have stood out to",
        "link": "https://acidstag.com/2017/12/15/friday-favourites-december-15/",
        "song": "lost in space",
        "thumbnail": "background-color: rgb(0, 255, 0);"
        },
        {
        "artist": "ambiere",
        "blogname": "little indie blogs",
        "descrip": "words: sam geary after the release of their debut ep, 'tree of life', at the start",
        "link": "http://littleindieblogs.blogspot.com/2017/12/listen-ambiere-i-see-faces.html",
        "song": "i see faces",
        "thumbnail": "background-color: rgb(74, 74, 74);"
        },

        ....
      ]
    ]

  </p>

  {{ template _features.html }}
</div>
