<div class="description">
  <h1>Hype5 Server</h1>

  <h3>
    Built and open-source project API which serves an aggragate of data from music blogs. The API operate via compiling all requested data via a web crawling and returns response afater web crawling completes. Project runs in Docker container.
  </h3>

  <h4>
    Note: Given that this project is based on PhantomJS and is crawling web address that use javascript responses will take a WHILE (avg on good connection 3-7sec #firstworldproblems). Therefore, design accordingly and use loaders and animation in places where the data is being requested. </h4>



</div>
