<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hype-5-Server</title>

  <link rel="stylesheet"href="styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>

</head>

<!-- Body -->
<body>

  <!-- Logo -->
  {{ template "_masthead.html" }}

  <!-- Service Information Section -->
  {{ template "_info.html" }}


  <!-- Footer -->
  {{ template "_footer.html" }}

  <!-- Showdown Scripts -->
  {{ template "_showdown.html" }}

</body>

</html>
